
* {
    margin:0;
    padding:0;
}

html{
    position: relative;
    min-height: 100%;
}

body {
    font-family: arvo, monospace;
    background-image: url("https://images.pexels.com/photos/2259233/pexels-photo-2259233.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 100%;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: #1D3025;
  height: 70px;
  width: 100%;
  text-align:center;
}
.navigation-bar img{
    float:left;
    width: 50px; 
    height: 50px; 
    margin-top: 10px;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

#menu {
  float: right;
}

.navigation-bar li span {
  color: #f2f73f;
}

/* ~~ Main ~~ */

main {
    margin-bottom: 70px;
}

#flex-container {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

/*#container {
    position: fixed;
    top: 60%;
    left: 37%;
}*/

.produit {
    transition: background-color 0.5s ease;
    margin-bottom: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8);

    /*border:1px solid black;*/

}

.produit:hover{
    background-color: rgb(255,255,255);
}

.produit h2 {
    font-size: 15px;
    text-decoration: underline;
}

.produit img {
    border-radius: 50%;
    margin: 5px 0px 5px 0px;
}

.produit a{
    font-size: 12px;
}


/* ~~ Footer ~~ */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #1D3025;
    text-align: center;
}

footer p{
    color: white;
    padding-top : 30px;
}

footer .admin {
  color: #f2f73f;
}

/* ~~ LOGIN & ADMIN ~~ */



.form-container {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.8);

  /*border:1px solid black;*/
}

.form-container h2 {
    font-size: 15px;
    text-decoration: underline;
}

form{
  display: inline-block;
  margin-bottom: 20px;
}

form > .bouton {
  margin-top: 20px;
}
