<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pizzaria Projet Web</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>

    <body>
        <header id="header-background">
                <div class="navigation-bar">
                        <div id="navigation-container">
                            <img href="/" src="{{ asset('./image/logo-pizza.png') }}">

                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li><a href="#">Panier</a></li>
                                <li><a href="/login">Connexion</a></li>
                                {% if login %}
                                    <li><span>Bonjour {{ username }}</span></li>
                                    <li><a href="/logout">Déconnexion</a></li>
                                {% endif %}

                            </ul>
                        </div>
                </div>
        </header>

            <main>{% block main %}{% endblock %}</main>

        <footer>
                <p>Projet Architecture et développement web - Année 2020/2021 - SABBAH Zyad L2 </p>
        </footer>
    </body>




</html>
